@font-face {
	font-family: 'BebasNeue';
	src: url('../fonts/BebasNeue.otf');
}

@font-face {
	font-family: 'MissionScript';
	src: url('../fonts/Mission-Script.otf');
}

@font-face {
	font-family: 'Questrial';
	src: url('../fonts/Questrial-Regular.ttf');
}
/* GOOGLE FONTS */

body {
	color: #524656;
	background-color: #524656;
	margin: 10px 213px;
	font-family: 'Questrial';
}

/* HEADER */
header {
	background-color: #EBD19B;
	padding: 25px 30px 30px;
	font-family: 'MissionScript';
}

header h1 {
	float: left;
	font-weight: normal;
	font-size: 22px;
	letter-spacing: .02em;
}

nav ul{
	float: right;
	font-size: 18px;
}

nav ul li {
	float: left;
	margin-left: 5px;
}

nav ul li a {
	color: #524656;
	padding: 5px 15px;
	text-decoration: none;
	border-radius: 14px
}

nav ul li a:hover,
nav ul li a:focus {
	background-color: whitesmoke;
}
/* END OF HEADER */

/* MAIN CONTENT */
/* COLUMN ONE */
#col-1 {
	float: left;
	width: 360px;
	box-sizing: border-box;
}

/* INTRO */
#intro {
	height: 480px;
	box-sizing: border-box;
	text-align: center;
	background-color: #F4F3EA;
	padding: 50px 20px;
}

#intro img {
	width: 280px;
	border-radius: 50%;
	margin: 20px;

	-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
}

#intro h2 {
	font-family: 'MissionScript';
	font-weight: normal;
	font-size: 24px;
	letter-spacing: .02em;
	padding-bottom: 5px;
	border-bottom: 2px solid #E84A5F;
}

#intro span {
	padding-right: 5px;
}

#intro p {
	font-family: 'BebasNeue';
	font-size: 28px;
	line-height: 1.5em;

}
/* END OF INTRO */

/* SKILLS*/
#skills {
	height: 480px;
	box-sizing: border-box;
	background-color: #E6DDC6;
	padding: 30px;
	padding-top: 50px;
}

#skills h2 {
	text-align: center;
	font-family: 'BebasNeue';
	font-weight: normal;
	font-size: 28px;
	letter-spacing: .5px;
	border-bottom: 2px solid #E84A5F;
}

#skills section {
	padding-top: 35px;
}

#skills p {
	padding-top: 30px;
	font-size: 18px;
}

#skills p:first-child {
	padding-top: 0;
}

#skills meter {
	width: 300px;
	height: 24px;
	padding-left: 300px;

	-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
}

#markup,
#styles {
	background: linear-gradient(90deg, #9eca7e 80%, white 20%);
}

#behaviour {
	background: linear-gradient(90deg, #c9d36e 50%, white 50%);
}

#vector {
	background: linear-gradient(90deg, #8ec883 90%, white 10%);
}

#pixel {
	background: linear-gradient(90deg, #accd79 70%, white 30%);
}
/* END OF SKILLS */
/* END OF COLUMN ONE */

/* COLUMN TWO */
form {
	height: 480px;
	box-sizing: border-box;
	background-color: #DBDECC;
	padding: 60px 30px;
	padding-left: 390px;
}

legend {
	font-family: 'MissionScript';
	font-size: 28px;
	letter-spacing: .04em;
	color: #524656;
	color: rgba(82, 70, 86, 0.85);
	text-shadow: 0 1px 1px #fff;
	padding-bottom: 10px;
}

fieldset {
	margin-bottom: 10px;
}

label {
	display: block;
	line-height: 1.4;
	font-family: 'BebasNeue';
	font-size: 22px;
	letter-spacing: .5px;
	color: #524656;
	color: rgba(82, 70, 86, 0.85);
	text-shadow: 0 1px 1px #fff;
	
}

fieldset:last-child {
	margin: 0;
}

fieldset input[type="text"],
textarea {
	font-family: serif;
	width: 485px;
	padding: 5px 8px;
	font-size: 1.2em;
	color: #666;
	border: none;
	background-color: #fff;

	background-image: -webkit-gradient(linear, 0% 0%, 0% 12%, from(#999), to(#fff));
	background-image: -moz-linear-gradient(0% 12% 90deg, #fff, #999);

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
}

textarea {
	height: 120px;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 3.8%, from(#999), to(#fff));
	background-image: -moz-linear-gradient(0% 3.8% 90deg, #fff, #999);
}

input[type="submit"] {
	padding: 8px 15px;
	font-family: sans-serif;
	font-weight: bold;
	line-height: 1em;
	color: #524656;
	border: none;
	background-color: #fff;

	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.85);

	-webkit-border-radius: 23px;
	-moz-border-radius: 23px;
	-o-border-radius: 23px;
	border-radius: 23px;

	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#bbb));
	background-image: -moz-linear-gradient(0 100% 90deg, #fff, #bbb);

	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

input[type="text"]:focus,
textarea:focus {
	-webkit-box-shadow: 0 0 12px rgba(51, 204, 255, 0.5);
	-moz-box-shadow: 0 0 12px rgba(51, 204, 255, 0.5);
	box-shadow: 0 0 12px rgba(51, 204, 255, 0.5);

	-webkit-animation: pulse 1.5s infinite ease-in-out;
	-moz-animation: pulse 1.5s infinite ease-in-out;
	animation: pulse 1.5s infinite ease-in-out;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
	-webkit-box-shadow: 0 0 12px rgba(51, 204, 255, 0.5);
	-moz-box-shadow: 0 0 12px rgba(51, 204, 255, 0.5);
	box-shadow: 0 0 12px rgba(51, 204, 255, 0.5);

	-webkit-animation: pulse 1.5s infinite ease-in-out;
	-moz-animation: pulse 1.5s infinite ease-in-out;
	animation: pulse 1.5s infinite ease-in-out;
}

/* CONTACTS */
#contact {
	height: 480px;
	box-sizing: border-box;
	background-color: #efefe8;
	padding: 50px;
	padding-left: 390px;
}

#contact div {
	border-radius: 15px;
	background-color: white;
	margin: 20px;
	margin-left: 35px;
	padding: 30px;

	-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
}

#contact p {
	color: #524656;
	padding-top: 20px;
	font-size: 18px;
}

#contact span {
	display: block;
	text-transform: uppercase;
	font-family: 'BebasNeue';
	font-size: 22px;
	padding-bottom: 3px;
}

#contact p:first-child {
	padding-top: 0;
}

#contact p a {
	text-decoration: none;
	color: #524656;
}

#contact p a:hover {
	font-size: 19px;
	padding-bottom: 2px;
	border-bottom: 2px solid #524656;
}
/* END OF CONTACTS */
/* END OF COLUMN TWO */
/* END OF MAIN CONTENT */


/* FOOTER */
footer {
	clear: left;
	background-color: #EBD19B;
	padding: 30px 0 20px;
}

footer ul {
	text-align: center;
	padding: 20px;
}

footer li {
	display: inline;
	margin: 0 8px;
}

footer a img {
	opacity: 0.25;
}

footer a:hover img,
footer a:focus img {
	opacity: 0.6;
}

footer p {
	text-align: center;
}
